@using MyDukkan
@using MyDukkan.Models
@model AnaSayfaViewModel

<link href="~/shop-home/css/shop-homepage.css" rel="stylesheet" />

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">My Dükkan</p>
            @MyHtmlHelper.CreateCategories(Model.CategoryList)
        </div>
        <div class="col-md-9">
            @MyHtmlHelper.CreateCarousel()
            
            <div class="row">

                @foreach (Products pro in Model.ProductList)
                {
                    @ProductItem(pro)
                }

            </div>
        </div>
    </div>
</div>
<!-- /.container -->


@helper ProductItem(Products pro)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="~/images/product.jpg" alt="">
            <div class="caption">
                <h4 class="pull-right">

                    <a href="/User/AddBasket/@pro.Id"
                       class="btn btn-warning btn-xs hint--bottom hint--warning"
                       aria-label="Sepete Ekle">
                        <span class="glyphicon glyphicon-shopping-cart"></span> @pro.Price TL
                    </a>

                </h4>
                <h4>
                    <a href="/Home/UrunDetay/@pro.Id">@pro.Name</a>
                </h4>
                <p>
                    @pro.Summary
                </p>

            </div>

            <div class="addthis_inline_share_toolbox"
                 data-url="@Request.Url.Authority/Home/UrunDetay/@pro.Id">
            </div>

            <div class="ratings">

                @{
                    string comment_hint = pro.Comments
                            .OrderByDescending(x => x.CreatedOn)
                            .Select(x => x.Text).FirstOrDefault();

                    comment_hint = (string.IsNullOrEmpty(comment_hint)) ? "yorum yok" : comment_hint;
                }

                <p class="pull-right hint--bottom hint--error hint--bounce"
                   aria-label="Son Yorum : @comment_hint">
                    @pro.Comments.Count yorum
                </p>
                <p>
                    @for (int i = 0; i < pro.StarCount; i++)
                    {
                        <span class="glyphicon glyphicon-star"></span>
                    }

                    @for (int i = 0; i < 5 - pro.StarCount; i++)
                    {
                        <span class="glyphicon glyphicon-star-empty"></span>
                    }
                </p>
            </div>
        </div>
    </div>
}