@using MyDukkan.Models
@model UrunDetayViewModel

<!-- Buraya CSS referansları ekleyebilirsiniz. -->
<link href="~/shop-item/css/shop-item.css" rel="stylesheet" />

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Kategoriler</p>
            <div class="list-group">
                @foreach (Categories cat in Model.CategoryList)
                {
                    string active = "";

                    if (cat.Id == Model.Product.Categories.Id)
                    {
                        active = "active";
                    }

                    <a href="/Home/AnaSayfaByCat/@cat.Id"
                       class="list-group-item @active">@cat.Name</a>
                }
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                <div class="caption-full">
                    <h4 class="pull-right">@Model.Product.Price TL</h4>
                    <h4>
                        @Model.Product.Name
                    </h4>
                    <p>
                        @Html.Raw(Model.Product.Description)
                    </p>
                </div>
                <div class="ratings">
                    <p class="pull-right">@Model.Product.Comments.Count yorum var</p>
                    <p>
                        @for (int i = 0; i < Model.Product.StarCount; i++)
                        {
                            <span class="glyphicon glyphicon-star"></span>
                        }

                        @for (int i = 0; i < 5 - Model.Product.StarCount; i++)
                        {
                            <span class="glyphicon glyphicon-star-empty"></span>
                        }
                    </p>
                </div>
            </div>
            <div class="well">

                <div class="row">

                    @if (Session["kullanici"] != null || Session["admin"] != null)
                    {
                        using (Html.BeginForm())
                        {
                            @*<div class="col-md-3">
                                @Html.TextBoxFor(x => x.CommentOnNickname,
                                new { @class = "form-control", placeholder = "nickname" })
                            </div>*@
                            <div class="col-md-10">
                                @Html.TextBoxFor(x => x.CommentOnText,
                                new { @class = "form-control", placeholder = "comment text" })
                            </div>
                            <div class="col-md-2 text-right">
                                <button type="submit" class="btn btn-success">
                                    <span class="glyphicon glyphicon-send"></span> Send
                                </button>
                            </div>
                        }
                    }


                </div>

                <hr>
                <div class="row">

                    @{
                        List<Comments> comments =
                            Model.Product.Comments
                                .Where(x => x.IsValid == true)
                                .OrderByDescending(x => x.CreatedOn).ToList();
                    }

                    @foreach (Comments comment in comments)
                    {
                        <div class="col-md-12">
                            <b>@comment.Nickname</b>
                            <span class="pull-right">@comment.CreatedOn</span>
                            <p>@comment.Text</p>
                            <hr />
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /.container -->