@model IEnumerable<MyDukkan.Models.Comments>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yorumlar</h2>

<p>
    @Html.ActionLink("Yeni Ekle", "Create",null, new { @class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Tarih
        </th>
        <th>
            Adı Soyadı
        </th>
        <th>
            Yorum Metni
        </th>
        <th>
            Ürün Adı
        </th>
        <th>
            Onaylı mı?
        </th>
        <th>
            İşlemler
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nickname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Products.Name)
        </td>
        <td>
            @if (item.IsValid)
            {
                <span class="text-success glyphicon glyphicon-ok"></span>
            }
            else
            {
                <span class="text-danger glyphicon glyphicon-remove"></span>
            }
        </td>
        <td class="table-buttons">
            <a href="/Comments/Edit/@item.Id" class="btn btn-warning btn-xs glyphicon glyphicon-edit" title="Edit">
            </a>

            <a href="/Comments/Details/@item.Id" class="btn btn-info btn-xs glyphicon glyphicon-search" title="Details">
            </a>

            <a href="/Comments/Delete/@item.Id" class="btn btn-danger btn-xs glyphicon glyphicon-trash" title="Delete">
            </a>
        </td>
    </tr>
}

</table>
