@using MyDukkan.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Yönetim Paneli</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/SiteUsers/Index">Site Users</a>
                    </li>
                    <li>
                        <a href="/Categories/Index">Categories</a>
                    </li>
                    <li>
                        <a href="/Products/Index">Products</a>
                    </li>
                    <li>
                        <a href="/Comments/Index">Comments</a>
                    </li>
                </ul>

                @{
                    SiteUsers user = Session["kullanici"] as SiteUsers;
                }

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/SiteUsers/Details/@user.Id">
                            <span class="glyphicon glyphicon-user"></span> @user.Name @user.Surname
                        </a>
                    </li>
                    <li>
                        <a href="/Home/SignOut">
                            <span class="glyphicon glyphicon-log-out"></span> Sign Out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>



    @*@Html.Partial("_ModalLoginPartial")*@
</body>

</html>