@using MyDukkan.Models

@*
    <!-- BEGIN # BOOTSNIP INFO -->
    <ul class="nav navbar-nav navbar-right">
        @if (Session["login"] != null)
        {
            var username = (Session["login"] as SysUser).Username;

            <li>
                <a href="/Home/Profile">
                    <span class="glyphicon glyphicon-user">&nbsp;</span>@username
                </a>
            </li>
            <li>
                <a href="/Home/Logout">
                    <span class="glyphicon glyphicon-log-out">&nbsp;</span>Logout
                </a>
            </li>
        }
        else
        {
            <li>
                <a href="/Home/Login" role="button" data-toggle="modal" data-target="#login-modal">
                    <span class="glyphicon glyphicon-log-in">&nbsp;</span>Login
                </a>
            </li>
        }
    </ul>
    <!-- END # BOOTSNIP INFO -->
*@

@if (Session["login"] == null)
{
    LoginObject msg = ViewBag.LoginMsg as LoginObject;

    if (msg == null)
    {
        msg = new LoginObject();
    }

    <!-- BEGIN # MODAL LOGIN -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" align="center">
                    <img class="img-circle" id="img_logo" src="http://bootsnipp.com/img/logo.jpg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>

                <!-- Begin # DIV Form -->
                <div id="div-forms">

                    <!-- Begin # Login Form -->
                    <form id="login-form" action="/Login/SignIn" method="post">
                        <div class="modal-body">
                            <div id="div-login-msg @msg.LoginColor">
                                <div id="icon-login-msg" class="glyphicon @msg.LoginIcon"></div>
                                <span id="text-login-msg">@msg.LoginText</span>
                            </div>
                            <input id="login_username" name="login_username" class="form-control" type="text" placeholder="Kullanıcı adı" required>
                            <input id="login_password" name="login_username" class="form-control" type="password" placeholder="Şifre" required>
                            <div class="checkbox">
                                <label>
                                    <input id="login_rememberme" name="login_rememberme" type="checkbox"> Beni Hatırla!
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Giriş</button>
                            </div>
                            <div>
                                <button id="login_lost_btn" type="button" class="btn btn-link">Şifremi unuttum?</button>
                                <button id="login_register_btn" type="button" class="btn btn-link">Kayıt</button>
                            </div>
                        </div>
                    </form>
                    <!-- End # Login Form -->
                    <!-- Begin | Lost Password Form -->
                    <form id="lost-form" style="display:none;" action="/Login/LostPassword" method="post">
                        <div class="modal-body">
                            <div id="div-lost-msg @msg.LostColor">
                                <div id="icon-lost-msg" class="glyphicon @msg.LostIcon"></div>
                                <span id="text-lost-msg">@msg.LostText</span>
                            </div>
                            <input id="lost_email" name="lost_email" class="form-control" type="text" placeholder="E-Posta Adresiniz" required>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Gönder</button>
                            </div>
                            <div>
                                <button id="lost_login_btn" type="button" class="btn btn-link">Giriş</button>
                                <button id="lost_register_btn" type="button" class="btn btn-link">Kayıt</button>
                            </div>
                        </div>
                    </form>
                    <!-- End | Lost Password Form -->
                    <!-- Begin | Register Form -->
                    <form id="register-form" style="display:none;" action="/Login/SignUp" method="post">
                        <div class="modal-body">
                            <div id="div-register-msg @msg.RegisterColor">
                                <div id="icon-register-msg" class="glyphicon @msg.RegisterIcon"></div>
                                <span id="text-register-msg">@msg.RegisterText</span>
                            </div>
                            <input id="register_username" name="register_username" class="form-control" type="text" placeholder="Kullanıcı adı" required>
                            <input id="register_email" name="register_email" class="form-control" type="text" placeholder="E-Posta adresi" required>
                            <input id="register_password" name="register_password" class="form-control" type="password" placeholder="Şifre" required>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Kayıt</button>
                            </div>
                            <div>
                                <button id="register_login_btn" type="button" class="btn btn-link">Giriş</button>
                                <button id="register_lost_btn" type="button" class="btn btn-link">Şifremi Unuttum?</button>
                            </div>
                        </div>
                    </form>
                    <!-- End | Register Form -->

                </div>
                <!-- End # DIV Form -->

            </div>
        </div>
    </div>
    <!-- END # MODAL LOGIN -->

    <link href="~/Content/modal-login.css" rel="stylesheet" />
    <script src="~/Scripts/login-modal.js"></script>
}